# Ignore Terraform hidden and temporary files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log

# Ignore sensitive or local override files
terraform.tfvars
*.tfvars
*.tfvars.json

# Ignore system or IDE files
.DS_Store
*.swp
*.bak
*.log
*.tmp
